.contentCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 480px;
  position: relative;
  min-width: 0;
  padding: 24px 16px;
  border-bottom: 1px solid #75757542;
}
@media (min-width: 768px) {
  .contentCard {
    max-width: 414px;
  }
}
.cardTitle {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__orV6X {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__orV6X > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__orV6X > :global(.__wab_flex-container) > *,
.freeBox__orV6X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__orV6X > :global(.__wab_flex-container) > picture > img,
.freeBox__orV6X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.img___30Uxf {
  object-fit: cover;
  max-width: 100%;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 50px;
}
.img___30Uxf > picture > img {
  object-fit: cover;
}
.link__n6Tc1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.h6__i2Prs {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___81YZz {
  font-size: 0.75em;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Zdr_B-7bGM1I);
  min-width: 0;
}
.button__zM63X {
  position: relative;
  width: auto;
  height: 30px;
  max-width: 100%;
  flex-shrink: 1;
  background: var(--token-EmXuBLqGOkga);
  color: #000000;
  border-radius: 24px;
  padding: 4px 12px;
  border-width: 1px;
  border-style: none;
}
.link__jm9Wm {
  position: relative;
  display: flex;
  margin-left: 12px;
}
.svg__nvqE8 {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: var(--token-SSPAVjvLHKG8);
  flex-shrink: 0;
}
.textContent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 24px;
  padding-bottom: 12px;
  min-width: 0;
}
.text__q4AtP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.signalContainer {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f1f1f1;
  min-width: 0;
  display: none;
  border-radius: 12px;
  padding: 12px;
}
.signalContainer > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.signalContainer > :global(.__wab_flex-container) > *,
.signalContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.signalContainer > :global(.__wab_flex-container) > picture > img,
.signalContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.signalContainersignalOn {
  display: flex;
}
.freeBox___049Ex {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___049Ex > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox___049Ex > :global(.__wab_flex-container) > *,
.freeBox___049Ex > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___049Ex > :global(.__wab_flex-container) > picture > img,
.freeBox___049Ex
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.img__h1N8B {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 50px;
}
.img__h1N8B > picture > img {
  object-fit: cover;
}
.freeBox__bF7RG {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h5__akYVb {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__wWpGz {
  font-size: 0.75em;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-SSPAVjvLHKG8);
  min-width: 0;
}
.freeBox___89HmF {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 12px;
  grid-column-gap: 12px;
  min-width: 0;
}
.freeBox___0U3Pp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__xLbwt {
  font-size: 0.875em;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Zdr_B-7bGM1I);
  min-width: 0;
}
.h6__fmc9Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__mqmme {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__gWpPg {
  font-size: 0.875em;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Zdr_B-7bGM1I);
  min-width: 0;
}
.h6__b1Nc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__vlRuO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__vVqq {
  font-size: 0.875em;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Zdr_B-7bGM1I);
  min-width: 0;
}
.h6__mesN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__gyPC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text___6TMaG {
  font-size: 0.875em;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Zdr_B-7bGM1I);
  min-width: 0;
}
.h6__cUhe8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___8Tmpz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__axiaA {
  font-size: 0.875em;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Zdr_B-7bGM1I);
  min-width: 0;
}
.h6__sZmZk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__oBXu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__nA3U {
  font-size: 0.875em;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Zdr_B-7bGM1I);
  min-width: 0;
}
.h6__plkKh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__yOnVh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__nuz0M {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__yiFis {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.cardImage {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  margin-top: 12px;
  min-width: 0;
  display: none;
  border-radius: 12px;
}
.cardImagesignalOn {
  display: none;
}
.cardImageimageOn {
  display: flex;
}
.img__dFx6L {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img__dFx6L > picture > img {
  object-fit: cover;
}
.cardToolbar {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 24px;
  padding-bottom: 0px;
  min-width: 0;
}
.cardToolbar > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.cardToolbar > :global(.__wab_flex-container) > *,
.cardToolbar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cardToolbar > :global(.__wab_flex-container) > picture > img,
.cardToolbar
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.freeBox___0Kjr7 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox___0Kjr7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox___0Kjr7 > :global(.__wab_flex-container) > *,
.freeBox___0Kjr7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0Kjr7 > :global(.__wab_flex-container) > picture > img,
.freeBox___0Kjr7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg___73EcK {
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 16px;
  color: var(--token-D3c06zf2LNI4);
  flex-shrink: 0;
}
.text__guL8 {
  font-size: 0.75em;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-D3c06zf2LNI4);
}
.freeBox__sSvZi {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__sSvZi > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__sSvZi > :global(.__wab_flex-container) > *,
.freeBox__sSvZi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sSvZi > :global(.__wab_flex-container) > picture > img,
.freeBox__sSvZi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg__zNrMy {
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 16px;
  color: var(--token-D3c06zf2LNI4);
  flex-shrink: 0;
}
.text__fjLhi {
  font-size: 0.75em;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-D3c06zf2LNI4);
}
.freeBox__efnva {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__efnva > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__efnva > :global(.__wab_flex-container) > *,
.freeBox__efnva > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__efnva > :global(.__wab_flex-container) > picture > img,
.freeBox__efnva
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg__k6YW {
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 16px;
  color: var(--token-D3c06zf2LNI4);
  flex-shrink: 0;
}
.text__rs9Fe {
  font-size: 0.75em;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-D3c06zf2LNI4);
}
.freeBox___5LcaX {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox___5LcaX > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox___5LcaX > :global(.__wab_flex-container) > *,
.freeBox___5LcaX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5LcaX > :global(.__wab_flex-container) > picture > img,
.freeBox___5LcaX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg__xerxt {
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 16px;
  color: var(--token-D3c06zf2LNI4);
  flex-shrink: 0;
}
.text__tDXw5 {
  font-size: 0.75em;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-D3c06zf2LNI4);
}
